extends layout.pug 

block content 
    form(action="/create" method="POST")
        label Title 
        input(type="text" name="title")

        label Body 
        textarea(name="body" rows="7") 
        
        button Create