extends layout.pug 

block content 
    .container-home 
        h1.title-home Don't forget ToDo
        p.acknowledgement This web application was created to fulﬁll Web Technology module’s requirements and does not represent an actual company or service
        a.btn-link(href="/create") Create