doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="/static/styles.css")
        title Document
    body 
        header 
            a.logo(href="/") ToDo App 
        
            nav 
                a.nav-item(href="/todos") Todos 
    main 
        block content