doctype html
html(lang="en")
    head
        title Document
    body 
        header 
            a.logo(href="/") Logo 
        
        nav 
            a.nav-item(href="/todos") link 
    
    block content