@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "New Tegomin", serif;
}
html {
  overflow-x: hidden;
}
body {
  background: #0f0e17;
}
a {
  text-decoration: none;
}
header {
  width: 10vw;
  border-right: 1px solid #ff8906;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main {
  width: 90vw;
  margin-left: 10vw;
  position: absolute;
}

.logo,
.nav-item {
  color: #fffffe;
}
.logo {
  font-size: 30px;
}
.nav-item {
  font-size: 25px;
}

.container-home {
  max-width: 60%;
  margin: 230px auto;
  color: #fffffe;
  text-align: center;
  font-size: 1.3rem;
}
.title-home {
  font-size: 60px;
}

.acknowledgement {
  margin-bottom: 50px;
}

.btn-link {
  color: #fffffe;
  padding: 10px 20px 17px;
  background: #ff8906;
  border-radius: 10px;
  font-size: 30px;
}

form {
  max-width: 40%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  color: #fffffe;
}

label {
  font-size: 30px;
  margin-bottom: 10px;
}

input {
  background: #0f0e17;
  border: 1px solid #ff8906;
  border-radius: 10px;
  height: 40px;
  color: #fffffe;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 30px;
}
input:focus,
textarea:focus {
  outline: none;
}

textarea {
  background: #0f0e17;
  border: 1px solid #ff8906;
  border-radius: 10px;
  margin-bottom: 30px;
  color: #fffffe;
  font-size: 20px;
  padding-left: 10px;
}

button {
  color: #fffffe;
  padding: 10px 30px 15px;
  background: #ff8906;
  border-radius: 10px;
  font-size: 20px;
  max-width: 10vw;
  border: 1px solid #ff8906;
  margin: auto;
  transition: 0.3s;
}

button:hover {
  background: #0f0e17;
  border: 1px solid #ff8906;
  cursor: pointer;
}

.todos-title {
  text-align: center;
  color: #fffffe;
  font-size: 50px;
  margin-top: 20px;
}

.container-all {
  max-width: 80%;
  margin: 100px auto;
  border: 1px solid #ff8906;
  padding: 30px 40px 30px;
  border-radius: 30px;
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  align-items: center;
}
.container-all:hover {
  background: #272626;
}

.title-link {
  color: #fffffe;
}

.delete {
  color: #fffffe;
  padding: 2px 30px 10px;
  background: #ff8906;
  border-radius: 10px;
  transition: 0.3s;
  border: 1px solid #ff8906;
}

.delete:hover {
  background: #0f0e17;
  border: 1px solid #ff8906;
  cursor: pointer;
}

.container-todo {
  color: #fffffe;
  text-align: center;
  max-width: 80%;
  margin: 50px auto;
}

.title {
  text-transform: uppercase;
  font-size: 50px;
}

.body {
  font-size: 25px;
}
